<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>assassinwoman_intown:B weijin.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{219,84},{59,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,27}}</string>
                <key>sourceSize</key>
                <string>{59,27}</string>
            </dict>
            <key>assassinwoman_intown:Bbu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{392,119},{29,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,41}}</string>
                <key>sourceSize</key>
                <string>{29,41}</string>
            </dict>
            <key>assassinwoman_intown:Bneik.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{109,135},{37,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,26}}</string>
                <key>sourceSize</key>
                <string>{37,26}</string>
            </dict>
            <key>assassinwoman_intown:Bshenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{162,102},{46,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>assassinwoman_intown:Btou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{219,0},{119,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{119,81}}</string>
                <key>sourceSize</key>
                <string>{119,81}</string>
            </dict>
            <key>assassinwoman_intown:Bweiqun.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{149,160},{36,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,11}}</string>
                <key>sourceSize</key>
                <string>{36,11}</string>
            </dict>
            <key>assassinwoman_intown:Byoudat.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{376,149},{7,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,10}}</string>
                <key>sourceSize</key>
                <string>{7,10}</string>
            </dict>
            <key>assassinwoman_intown:Byouqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{312,160},{23,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,15}}</string>
                <key>sourceSize</key>
                <string>{23,15}</string>
            </dict>
            <key>assassinwoman_intown:Byouxiaot.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{259,139},{6,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{6,18}}</string>
                <key>sourceSize</key>
                <string>{6,18}</string>
            </dict>
            <key>assassinwoman_intown:Bzuodat.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{488,65},{21,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,33}}</string>
                <key>sourceSize</key>
                <string>{21,33}</string>
            </dict>
            <key>assassinwoman_intown:Bzuojiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{440,118},{41,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,36}}</string>
                <key>sourceSize</key>
                <string>{41,36}</string>
            </dict>
            <key>assassinwoman_intown:Bzuoqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{29,155},{31,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,18}}</string>
                <key>sourceSize</key>
                <string>{31,18}</string>
            </dict>
            <key>assassinwoman_intown:Bzuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{84,146},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>assassinwoman_intown:Bzyoudat.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{313,115},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>assassinwoman_intown:Fshenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{109,102},{50,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,30}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>assassinwoman_intown:Ftou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{112,0},{104,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{104,99}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>assassinwoman_intown:asdfq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{313,139},{22,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,18}}</string>
                <key>sourceSize</key>
                <string>{22,18}</string>
            </dict>
            <key>assassinwoman_intown:asvfga.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{51,98},{30,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,54}}</string>
                <key>sourceSize</key>
                <string>{30,54}</string>
            </dict>
            <key>assassinwoman_intown:bfgw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{488,101},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>assassinwoman_intown:bu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{392,65},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>assassinwoman_intown:cdv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{149,135},{9,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,15}}</string>
                <key>sourceSize</key>
                <string>{9,15}</string>
            </dict>
            <key>assassinwoman_intown:cvart.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{84,125},{22,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,18}}</string>
                <key>sourceSize</key>
                <string>{22,18}</string>
            </dict>
            <key>assassinwoman_intown:cvwex.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{239,150},{7,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,10}}</string>
                <key>sourceSize</key>
                <string>{7,10}</string>
            </dict>
            <key>assassinwoman_intown:dao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{341,0},{97,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{97,62}}</string>
                <key>sourceSize</key>
                <string>{97,62}</string>
            </dict>
            <key>assassinwoman_intown:f DATUI1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{197,137},{9,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,15}}</string>
                <key>sourceSize</key>
                <string>{9,15}</string>
            </dict>
            <key>assassinwoman_intown:hujian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{338,132},{35,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,33}}</string>
                <key>sourceSize</key>
                <string>{35,33}</string>
            </dict>
            <key>assassinwoman_intown:jiao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{341,65},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>assassinwoman_intown:jiao3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{281,84},{29,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,56}}</string>
                <key>sourceSize</key>
                <string>{29,56}</string>
            </dict>
            <key>assassinwoman_intown:jiao5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{484,126},{23,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,18}}</string>
                <key>sourceSize</key>
                <string>{23,18}</string>
            </dict>
            <key>assassinwoman_intown:mcjskd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{376,163},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>assassinwoman_intown:mkald.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{424,119},{12,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,19}}</string>
                <key>sourceSize</key>
                <string>{12,19}</string>
            </dict>
            <key>assassinwoman_intown:sdou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{376,132},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{10,14}</string>
            </dict>
            <key>assassinwoman_intown:shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{211,114},{45,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,33}}</string>
                <key>sourceSize</key>
                <string>{45,33}</string>
            </dict>
            <key>assassinwoman_intown:shoudc2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{268,139},{8,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,12}}</string>
                <key>sourceSize</key>
                <string>{8,12}</string>
            </dict>
            <key>assassinwoman_intown:sidai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{424,157},{57,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,18}}</string>
                <key>sourceSize</key>
                <string>{57,18}</string>
            </dict>
            <key>assassinwoman_intown:tou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{109,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{109,95}}</string>
                <key>sourceSize</key>
                <string>{109,95}</string>
            </dict>
            <key>assassinwoman_intown:vfgwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{259,114},{17,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,22}}</string>
                <key>sourceSize</key>
                <string>{17,22}</string>
            </dict>
            <key>assassinwoman_intown:vsdfg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{424,141},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>assassinwoman_intown:weiba.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{441,0},{65,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,62}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
            <key>assassinwoman_intown:weijin.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,98},{48,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,36}}</string>
                <key>sourceSize</key>
                <string>{48,36}</string>
            </dict>
            <key>assassinwoman_intown:xie55.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{84,98},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>assassinwoman_intown:youdatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,137},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>assassinwoman_intown:youhoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{249,160},{27,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,18}}</string>
                <key>sourceSize</key>
                <string>{27,18}</string>
            </dict>
            <key>assassinwoman_intown:youqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{279,143},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,22}}</string>
                <key>sourceSize</key>
                <string>{30,22}</string>
            </dict>
            <key>assassinwoman_intown:youshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{209,150},{27,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,25}}</string>
                <key>sourceSize</key>
                <string>{27,25}</string>
            </dict>
            <key>assassinwoman_intown:youxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{484,147},{23,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,15}}</string>
                <key>sourceSize</key>
                <string>{23,15}</string>
            </dict>
            <key>assassinwoman_intown:youxie.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{440,65},{45,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,50}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>assassinwoman_intown:zuodatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{313,84},{23,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,28}}</string>
                <key>sourceSize</key>
                <string>{23,28}</string>
            </dict>
            <key>assassinwoman_intown:zuojiao34.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{29,137},{18,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,12}}</string>
                <key>sourceSize</key>
                <string>{18,12}</string>
            </dict>
            <key>assassinwoman_intown:zuoxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{161,137},{33,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,20}}</string>
                <key>sourceSize</key>
                <string>{33,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>assassinwoman_intown.pvr.ccz</string>
            <key>size</key>
            <string>{510,178}</string>
            <key>textureFileName</key>
            <string>assassinwoman_intown.pvr.ccz</string>
        </dict>
    </dict>
</plist>
