<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>assassinwoman_common_move:Bbu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{262,380},{29,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,41}}</string>
                <key>sourceSize</key>
                <string>{29,41}</string>
            </dict>
            <key>assassinwoman_common_move:Bneik.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{294,414},{37,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,26}}</string>
                <key>sourceSize</key>
                <string>{37,26}</string>
            </dict>
            <key>assassinwoman_common_move:Bshenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{873,344},{66,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{66,61}}</string>
                <key>sourceSize</key>
                <string>{66,61}</string>
            </dict>
            <key>assassinwoman_common_move:Btou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{873,246},{133,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{133,95}}</string>
                <key>sourceSize</key>
                <string>{133,95}</string>
            </dict>
            <key>assassinwoman_common_move:Bweijin.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{212,324},{80,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{80,53}}</string>
                <key>sourceSize</key>
                <string>{80,53}</string>
            </dict>
            <key>assassinwoman_common_move:Bweiqun.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{726,426},{36,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,11}}</string>
                <key>sourceSize</key>
                <string>{36,11}</string>
            </dict>
            <key>assassinwoman_common_move:Byoudat.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1009,172},{7,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{7,10}}</string>
                <key>sourceSize</key>
                <string>{7,10}</string>
            </dict>
            <key>assassinwoman_common_move:Byoudat1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{996,413},{25,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{25,31}}</string>
                <key>sourceSize</key>
                <string>{25,31}</string>
            </dict>
            <key>assassinwoman_common_move:Byouqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{387,437},{23,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,15}}</string>
                <key>sourceSize</key>
                <string>{23,15}</string>
            </dict>
            <key>assassinwoman_common_move:Byouxiaot.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1009,151},{6,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{6,18}}</string>
                <key>sourceSize</key>
                <string>{6,18}</string>
            </dict>
            <key>assassinwoman_common_move:Bzuodat.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{363,414},{21,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,33}}</string>
                <key>sourceSize</key>
                <string>{21,33}</string>
            </dict>
            <key>assassinwoman_common_move:Bzuojiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{854,408},{41,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{41,36}}</string>
                <key>sourceSize</key>
                <string>{41,36}</string>
            </dict>
            <key>assassinwoman_common_move:Bzuoqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{774,424},{31,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{31,18}}</string>
                <key>sourceSize</key>
                <string>{31,18}</string>
            </dict>
            <key>assassinwoman_common_move:Bzuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{831,430},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>assassinwoman_common_move:Bzyoudat.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{134,427},{22,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,21}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>assassinwoman_common_move:Fshenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{575,406},{50,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,30}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>assassinwoman_common_move:Ftou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{104,325},{104,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{104,99}}</string>
                <key>sourceSize</key>
                <string>{104,99}</string>
            </dict>
            <key>assassinwoman_common_move:asdfq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{962,434},{22,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{22,18}}</string>
                <key>sourceSize</key>
                <string>{22,18}</string>
            </dict>
            <key>assassinwoman_common_move:asvfga.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{942,344},{59,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{59,66}}</string>
                <key>sourceSize</key>
                <string>{59,66}</string>
            </dict>
            <key>assassinwoman_common_move:bfgw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{808,430},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>assassinwoman_common_move:bu.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{726,371},{45,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,52}}</string>
                <key>sourceSize</key>
                <string>{45,52}</string>
            </dict>
            <key>assassinwoman_common_move:cnjhdwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{295,260},{165,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{165,151}}</string>
                <key>sourceSize</key>
                <string>{165,151}</string>
            </dict>
            <key>assassinwoman_common_move:cvdfs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{285,163},{12,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,9}}</string>
                <key>sourceSize</key>
                <string>{12,9}</string>
            </dict>
            <key>assassinwoman_common_move:dao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{575,341},{97,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{97,62}}</string>
                <key>sourceSize</key>
                <string>{97,62}</string>
            </dict>
            <key>assassinwoman_common_move:f vddv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{285,145},{9,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,15}}</string>
                <key>sourceSize</key>
                <string>{9,15}</string>
            </dict>
            <key>assassinwoman_common_move:hujian.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{898,408},{35,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{35,33}}</string>
                <key>sourceSize</key>
                <string>{35,33}</string>
            </dict>
            <key>assassinwoman_common_move:iwe9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{298,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{298,142}}</string>
                <key>sourceSize</key>
                <string>{298,142}</string>
            </dict>
            <key>assassinwoman_common_move:jiao2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{675,371},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>assassinwoman_common_move:jiao3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{822,371},{29,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{29,56}}</string>
                <key>sourceSize</key>
                <string>{29,56}</string>
            </dict>
            <key>assassinwoman_common_move:jiao5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{936,434},{23,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,18}}</string>
                <key>sourceSize</key>
                <string>{23,18}</string>
            </dict>
            <key>assassinwoman_common_move:mcjskd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{675,438},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>assassinwoman_common_move:mkald.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1009,129},{12,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,19}}</string>
                <key>sourceSize</key>
                <string>{12,19}</string>
            </dict>
            <key>assassinwoman_common_move:mvcsl.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{476,0},{228,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{228,172}}</string>
                <key>sourceSize</key>
                <string>{228,172}</string>
            </dict>
            <key>assassinwoman_common_move:nsjdw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{301,0},{172,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{172,257}}</string>
                <key>sourceSize</key>
                <string>{172,257}</string>
            </dict>
            <key>assassinwoman_common_move:ppwnj.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{707,0},{179,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{179,209}}</string>
                <key>sourceSize</key>
                <string>{179,209}</string>
            </dict>
            <key>assassinwoman_common_move:qowpq.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{476,175},{210,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{210,163}}</string>
                <key>sourceSize</key>
                <string>{210,163}</string>
            </dict>
            <key>assassinwoman_common_move:shenti.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{628,406},{44,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,33}}</string>
                <key>sourceSize</key>
                <string>{44,33}</string>
            </dict>
            <key>assassinwoman_common_move:sidai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{936,413},{57,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,18}}</string>
                <key>sourceSize</key>
                <string>{57,18}</string>
            </dict>
            <key>assassinwoman_common_move:tou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{463,341},{109,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{109,95}}</string>
                <key>sourceSize</key>
                <string>{109,95}</string>
            </dict>
            <key>assassinwoman_common_move:vdfwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{212,145},{70,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,95}}</string>
                <key>sourceSize</key>
                <string>{70,95}</string>
            </dict>
            <key>assassinwoman_common_move:vdfwecs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{889,129},{117,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{117,114}}</string>
                <key>sourceSize</key>
                <string>{117,114}</string>
            </dict>
            <key>assassinwoman_common_move:vfgbcf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,145},{209,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{209,177}}</string>
                <key>sourceSize</key>
                <string>{209,177}</string>
            </dict>
            <key>assassinwoman_common_move:vfgbdc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,325},{101,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{101,127}}</string>
                <key>sourceSize</key>
                <string>{101,127}</string>
            </dict>
            <key>assassinwoman_common_move:vfgwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1004,344},{17,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,22}}</string>
                <key>sourceSize</key>
                <string>{17,22}</string>
            </dict>
            <key>assassinwoman_common_move:wecsd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{689,212},{181,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{181,156}}</string>
                <key>sourceSize</key>
                <string>{181,156}</string>
            </dict>
            <key>assassinwoman_common_move:weiba.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{212,243},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>assassinwoman_common_move:weijin.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{211,380},{48,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,36}}</string>
                <key>sourceSize</key>
                <string>{48,36}</string>
            </dict>
            <key>assassinwoman_common_move:youdatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{334,414},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>assassinwoman_common_move:youhoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{104,427},{27,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,18}}</string>
                <key>sourceSize</key>
                <string>{27,18}</string>
            </dict>
            <key>assassinwoman_common_move:youqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{423,414},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{30,22}}</string>
                <key>sourceSize</key>
                <string>{30,22}</string>
            </dict>
            <key>assassinwoman_common_move:youshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{211,419},{27,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,25}}</string>
                <key>sourceSize</key>
                <string>{27,25}</string>
            </dict>
            <key>assassinwoman_common_move:yout.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{889,0},{132,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{132,126}}</string>
                <key>sourceSize</key>
                <string>{132,126}</string>
            </dict>
            <key>assassinwoman_common_move:youxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{159,427},{27,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{27,15}}</string>
                <key>sourceSize</key>
                <string>{27,15}</string>
            </dict>
            <key>assassinwoman_common_move:youxie.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{774,371},{45,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{45,50}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>assassinwoman_common_move:zuodatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{262,424},{23,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,28}}</string>
                <key>sourceSize</key>
                <string>{23,28}</string>
            </dict>
            <key>assassinwoman_common_move:zuojiao34.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{241,419},{18,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,12}}</string>
                <key>sourceSize</key>
                <string>{18,12}</string>
            </dict>
            <key>assassinwoman_common_move:zuoxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{387,414},{33,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,20}}</string>
                <key>sourceSize</key>
                <string>{33,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>assassinwoman_common_move.pvr.ccz</string>
            <key>size</key>
            <string>{1021,453}</string>
            <key>textureFileName</key>
            <string>assassinwoman_common_move.pvr.ccz</string>
        </dict>
    </dict>
</plist>
