<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_splash_202:f1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{510,589},{252,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{252,290}}</string>
                <key>sourceSize</key>
                <string>{252,290}</string>
            </dict>
            <key>effect_splash_202:f10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1650,0},{268,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{268,290}}</string>
                <key>sourceSize</key>
                <string>{268,290}</string>
            </dict>
            <key>effect_splash_202:f11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1378,0},{269,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{269,290}}</string>
                <key>sourceSize</key>
                <string>{269,290}</string>
            </dict>
            <key>effect_splash_202:f12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{288,0},{271,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{271,290}}</string>
                <key>sourceSize</key>
                <string>{271,290}</string>
            </dict>
            <key>effect_splash_202:f13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{285,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{285,290}}</string>
                <key>sourceSize</key>
                <string>{285,290}</string>
            </dict>
            <key>effect_splash_202:f14.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,293},{266,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{266,290}}</string>
                <key>sourceSize</key>
                <string>{266,290}</string>
            </dict>
            <key>effect_splash_202:f15.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{269,293},{260,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{260,290}}</string>
                <key>sourceSize</key>
                <string>{260,290}</string>
            </dict>
            <key>effect_splash_202:f16.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{562,0},{268,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{268,293}}</string>
                <key>sourceSize</key>
                <string>{268,293}</string>
            </dict>
            <key>effect_splash_202:f18.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,879},{252,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{252,290}}</string>
                <key>sourceSize</key>
                <string>{252,290}</string>
            </dict>
            <key>effect_splash_202:f19.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,586},{252,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{252,290}}</string>
                <key>sourceSize</key>
                <string>{252,290}</string>
            </dict>
            <key>effect_splash_202:f2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1552,586},{252,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{252,290}}</string>
                <key>sourceSize</key>
                <string>{252,290}</string>
            </dict>
            <key>effect_splash_202:f20.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{255,879},{252,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{252,290}}</string>
                <key>sourceSize</key>
                <string>{252,290}</string>
            </dict>
            <key>effect_splash_202:f21.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{787,586},{252,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{252,290}}</string>
                <key>sourceSize</key>
                <string>{252,290}</string>
            </dict>
            <key>effect_splash_202:f22.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1088,293},{252,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{252,290}}</string>
                <key>sourceSize</key>
                <string>{252,290}</string>
            </dict>
            <key>effect_splash_202:f24.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1297,586},{252,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{252,290}}</string>
                <key>sourceSize</key>
                <string>{252,290}</string>
            </dict>
            <key>effect_splash_202:f25.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{833,293},{252,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{252,290}}</string>
                <key>sourceSize</key>
                <string>{252,290}</string>
            </dict>
            <key>effect_splash_202:f26.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1598,293},{252,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{252,290}}</string>
                <key>sourceSize</key>
                <string>{252,290}</string>
            </dict>
            <key>effect_splash_202:f3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1042,586},{252,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{252,290}}</string>
                <key>sourceSize</key>
                <string>{252,290}</string>
            </dict>
            <key>effect_splash_202:f4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{255,586},{252,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{252,290}}</string>
                <key>sourceSize</key>
                <string>{252,290}</string>
            </dict>
            <key>effect_splash_202:f6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{532,296},{252,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{252,290}}</string>
                <key>sourceSize</key>
                <string>{252,290}</string>
            </dict>
            <key>effect_splash_202:f7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1343,293},{252,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{252,290}}</string>
                <key>sourceSize</key>
                <string>{252,290}</string>
            </dict>
            <key>effect_splash_202:f8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{1106,0},{269,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{269,290}}</string>
                <key>sourceSize</key>
                <string>{269,290}</string>
            </dict>
            <key>effect_splash_202:f9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{833,0},{270,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{270,290}}</string>
                <key>sourceSize</key>
                <string>{270,290}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_splash_202.pvr.ccz</string>
            <key>size</key>
            <string>{1911,1169}</string>
            <key>textureFileName</key>
            <string>effect_splash_202.pvr.ccz</string>
        </dict>
    </dict>
</plist>
