<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_fairy_leishen_144:aacsf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{381,0},{184,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{184,274}}</string>
                <key>sourceSize</key>
                <string>{184,274}</string>
            </dict>
            <key>effect_fairy_leishen_144:abdfg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{907,0},{108,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{108,268}}</string>
                <key>sourceSize</key>
                <string>{108,268}</string>
            </dict>
            <key>effect_fairy_leishen_144:acsdfw.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{842,275},{50,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,234}}</string>
                <key>sourceSize</key>
                <string>{50,234}</string>
            </dict>
            <key>effect_fairy_leishen_144:adasdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{749,0},{155,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{155,272}}</string>
                <key>sourceSize</key>
                <string>{155,272}</string>
            </dict>
            <key>effect_fairy_leishen_144:aopky.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{749,275},{90,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{90,268}}</string>
                <key>sourceSize</key>
                <string>{90,268}</string>
            </dict>
            <key>effect_fairy_leishen_144:apow.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{568,276},{93,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{93,256}}</string>
                <key>sourceSize</key>
                <string>{93,256}</string>
            </dict>
            <key>effect_fairy_leishen_144:aqwdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{568,0},{178,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{178,273}}</string>
                <key>sourceSize</key>
                <string>{178,273}</string>
            </dict>
            <key>effect_fairy_leishen_144:aqwds.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{907,271},{94,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{94,268}}</string>
                <key>sourceSize</key>
                <string>{94,268}</string>
            </dict>
            <key>effect_fairy_leishen_144:avsd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{193,0},{185,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{185,277}}</string>
                <key>sourceSize</key>
                <string>{185,277}</string>
            </dict>
            <key>effect_fairy_leishen_144:awdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{190,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{190,275}}</string>
                <key>sourceSize</key>
                <string>{190,275}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_fairy_leishen_144.pvr.ccz</string>
            <key>size</key>
            <string>{1015,545}</string>
            <key>textureFileName</key>
            <string>effect_fairy_leishen_144.pvr.ccz</string>
        </dict>
    </dict>
</plist>
