<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_fairy_juzhanghuwei_134:g1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{321,0},{157,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{157,107}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>effect_fairy_juzhanghuwei_134:g2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{160,0},{158,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{158,107}}</string>
                <key>sourceSize</key>
                <string>{158,107}</string>
            </dict>
            <key>effect_fairy_juzhanghuwei_134:g3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{160,110},{147,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{147,112}}</string>
                <key>sourceSize</key>
                <string>{147,112}</string>
            </dict>
            <key>effect_fairy_juzhanghuwei_134:g4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,118},{127,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{127,118}}</string>
                <key>sourceSize</key>
                <string>{127,118}</string>
            </dict>
            <key>effect_fairy_juzhanghuwei_134:g5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{310,110},{130,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{130,117}}</string>
                <key>sourceSize</key>
                <string>{130,117}</string>
            </dict>
            <key>effect_fairy_juzhanghuwei_134:g6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{157,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{157,115}}</string>
                <key>sourceSize</key>
                <string>{157,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_fairy_juzhanghuwei_134.pvr.ccz</string>
            <key>size</key>
            <string>{440,225}</string>
            <key>textureFileName</key>
            <string>effect_fairy_juzhanghuwei_134.pvr.ccz</string>
        </dict>
    </dict>
</plist>
