<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_fairy_dianciguai_130:d1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{179,256},{50,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{50,57}}</string>
                <key>sourceSize</key>
                <string>{50,57}</string>
            </dict>
            <key>effect_fairy_dianciguai_130:d2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{417,364},{57,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,110}}</string>
                <key>sourceSize</key>
                <string>{57,110}</string>
            </dict>
            <key>effect_fairy_dianciguai_130:d3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{121,256},{55,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,219}}</string>
                <key>sourceSize</key>
                <string>{55,219}</string>
            </dict>
            <key>effect_fairy_dianciguai_130:d4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,256},{118,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{118,237}}</string>
                <key>sourceSize</key>
                <string>{118,237}</string>
            </dict>
            <key>effect_fairy_dianciguai_130:d5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{233,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{233,253}}</string>
                <key>sourceSize</key>
                <string>{233,253}</string>
            </dict>
            <key>effect_fairy_dianciguai_130:d6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{236,0},{233,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{233,204}}</string>
                <key>sourceSize</key>
                <string>{233,204}</string>
            </dict>
            <key>effect_fairy_dianciguai_130:d7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{236,207},{227,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{227,154}}</string>
                <key>sourceSize</key>
                <string>{227,154}</string>
            </dict>
            <key>effect_fairy_dianciguai_130:d8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{121,482},{227,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{227,113}}</string>
                <key>sourceSize</key>
                <string>{227,113}</string>
            </dict>
            <key>effect_fairy_dianciguai_130:d9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{179,364},{235,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{235,115}}</string>
                <key>sourceSize</key>
                <string>{235,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>effect_fairy_dianciguai_130.pvr.ccz</string>
            <key>size</key>
            <string>{479,603}</string>
            <key>textureFileName</key>
            <string>effect_fairy_dianciguai_130.pvr.ccz</string>
        </dict>
    </dict>
</plist>
