<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_yanlong_2020:d1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{879,446},{120,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{120,124}}</string>
                <key>sourceSize</key>
                <string>{120,124}</string>
            </dict>
            <key>fairy_yanlong_2020:d10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,417},{120,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{120,124}}</string>
                <key>sourceSize</key>
                <string>{120,124}</string>
            </dict>
            <key>fairy_yanlong_2020:d2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{297,505},{171,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{171,135}}</string>
                <key>sourceSize</key>
                <string>{171,135}</string>
            </dict>
            <key>fairy_yanlong_2020:d3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{309,367},{171,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{171,135}}</string>
                <key>sourceSize</key>
                <string>{171,135}</string>
            </dict>
            <key>fairy_yanlong_2020:d4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{537,490},{171,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{171,135}}</string>
                <key>sourceSize</key>
                <string>{171,135}</string>
            </dict>
            <key>fairy_yanlong_2020:d5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{123,498},{171,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{171,135}}</string>
                <key>sourceSize</key>
                <string>{171,135}</string>
            </dict>
            <key>fairy_yanlong_2020:d6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{529,628},{171,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{171,135}}</string>
                <key>sourceSize</key>
                <string>{171,135}</string>
            </dict>
            <key>fairy_yanlong_2020:d7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{560,352},{171,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{171,135}}</string>
                <key>sourceSize</key>
                <string>{171,135}</string>
            </dict>
            <key>fairy_yanlong_2020:d9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{734,356},{142,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{142,122}}</string>
                <key>sourceSize</key>
                <string>{142,122}</string>
            </dict>
            <key>fairy_yanlong_2020:e1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{907,91},{104,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{104,61}}</string>
                <key>sourceSize</key>
                <string>{104,61}</string>
            </dict>
            <key>fairy_yanlong_2020:e11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{907,294},{105,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{105,58}}</string>
                <key>sourceSize</key>
                <string>{105,58}</string>
            </dict>
            <key>fairy_yanlong_2020:e12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{711,545},{98,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,60}}</string>
                <key>sourceSize</key>
                <string>{98,60}</string>
            </dict>
            <key>fairy_yanlong_2020:e13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{907,0},{104,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{104,88}}</string>
                <key>sourceSize</key>
                <string>{104,88}</string>
            </dict>
            <key>fairy_yanlong_2020:e14.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{509,205},{47,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{47,113}}</string>
                <key>sourceSize</key>
                <string>{47,113}</string>
            </dict>
            <key>fairy_yanlong_2020:e15.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,544},{90,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{90,70}}</string>
                <key>sourceSize</key>
                <string>{90,70}</string>
            </dict>
            <key>fairy_yanlong_2020:e16.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{867,573},{103,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{103,54}}</string>
                <key>sourceSize</key>
                <string>{103,54}</string>
            </dict>
            <key>fairy_yanlong_2020:e2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{734,481},{100,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{100,61}}</string>
                <key>sourceSize</key>
                <string>{100,61}</string>
            </dict>
            <key>fairy_yanlong_2020:e3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{907,219},{93,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{93,72}}</string>
                <key>sourceSize</key>
                <string>{93,72}</string>
            </dict>
            <key>fairy_yanlong_2020:e4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{907,355},{75,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{75,88}}</string>
                <key>sourceSize</key>
                <string>{75,88}</string>
            </dict>
            <key>fairy_yanlong_2020:e5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,617},{89,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{89,67}}</string>
                <key>sourceSize</key>
                <string>{89,67}</string>
            </dict>
            <key>fairy_yanlong_2020:e6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{711,608},{102,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{102,54}}</string>
                <key>sourceSize</key>
                <string>{102,54}</string>
            </dict>
            <key>fairy_yanlong_2020:long chi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{907,155},{104,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{104,61}}</string>
                <key>sourceSize</key>
                <string>{104,61}</string>
            </dict>
            <key>fairy_yanlong_2020:long wei.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{176,636},{81,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{81,30}}</string>
                <key>sourceSize</key>
                <string>{81,30}</string>
            </dict>
            <key>fairy_yanlong_2020:longshen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{471,599},{55,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,30}}</string>
                <key>sourceSize</key>
                <string>{55,30}</string>
            </dict>
            <key>fairy_yanlong_2020:longshen2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{812,545},{52,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,40}}</string>
                <key>sourceSize</key>
                <string>{52,40}</string>
            </dict>
            <key>fairy_yanlong_2020:longtou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{471,541},{52,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,55}}</string>
                <key>sourceSize</key>
                <string>{52,55}</string>
            </dict>
            <key>fairy_yanlong_2020:longtou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{309,205},{39,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{39,45}}</string>
                <key>sourceSize</key>
                <string>{39,45}</string>
            </dict>
            <key>fairy_yanlong_2020:vbnvnvb.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{148,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{148,279}}</string>
                <key>sourceSize</key>
                <string>{148,279}</string>
            </dict>
            <key>fairy_yanlong_2020:w1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{92,636},{81,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{81,30}}</string>
                <key>sourceSize</key>
                <string>{81,30}</string>
            </dict>
            <key>fairy_yanlong_2020:w2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{816,630},{82,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{82,39}}</string>
                <key>sourceSize</key>
                <string>{82,39}</string>
            </dict>
            <key>fairy_yanlong_2020:w3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{483,466},{51,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,72}}</string>
                <key>sourceSize</key>
                <string>{51,72}</string>
            </dict>
            <key>fairy_yanlong_2020:w4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{509,321},{48,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,70}}</string>
                <key>sourceSize</key>
                <string>{48,70}</string>
            </dict>
            <key>fairy_yanlong_2020:w5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{483,394},{65,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,69}}</string>
                <key>sourceSize</key>
                <string>{65,69}</string>
            </dict>
            <key>fairy_yanlong_2020:w6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{901,630},{87,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{87,29}}</string>
                <key>sourceSize</key>
                <string>{87,29}</string>
            </dict>
            <key>fairy_yanlong_2020:x10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{561,179},{166,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{166,170}}</string>
                <key>sourceSize</key>
                <string>{166,170}</string>
            </dict>
            <key>fairy_yanlong_2020:y1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{145,378},{142,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{142,117}}</string>
                <key>sourceSize</key>
                <string>{142,117}</string>
            </dict>
            <key>fairy_yanlong_2020:y2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,282},{142,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{142,132}}</string>
                <key>sourceSize</key>
                <string>{142,132}</string>
            </dict>
            <key>fairy_yanlong_2020:y3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{740,178},{164,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{164,175}}</string>
                <key>sourceSize</key>
                <string>{164,175}</string>
            </dict>
            <key>fairy_yanlong_2020:y4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{740,0},{164,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{164,175}}</string>
                <key>sourceSize</key>
                <string>{164,175}</string>
            </dict>
            <key>fairy_yanlong_2020:y5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{151,205},{155,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{155,170}}</string>
                <key>sourceSize</key>
                <string>{155,170}</string>
            </dict>
            <key>fairy_yanlong_2020:y6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{561,0},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>fairy_yanlong_2020:y7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{151,0},{202,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{202,202}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>fairy_yanlong_2020:y8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{356,0},{202,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{202,202}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>fairy_yanlong_2020:y9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{351,205},{155,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{155,159}}</string>
                <key>sourceSize</key>
                <string>{155,159}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_yanlong_2020.pvr.ccz</string>
            <key>size</key>
            <string>{1015,760}</string>
            <key>textureFileName</key>
            <string>fairy_yanlong_2020.pvr.ccz</string>
        </dict>
    </dict>
</plist>
