<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_fengbaojulong_2016:d21.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{163,199},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:d22.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{807,211},{87,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{87,66}}</string>
                <key>sourceSize</key>
                <string>{87,66}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:d23.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{953,169},{67,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{67,70}}</string>
                <key>sourceSize</key>
                <string>{67,70}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:d24.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,282},{67,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{67,70}}</string>
                <key>sourceSize</key>
                <string>{67,70}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:d25.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{85,251},{72,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{72,67}}</string>
                <key>sourceSize</key>
                <string>{72,67}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:d26.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,205},{82,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{82,74}}</string>
                <key>sourceSize</key>
                <string>{82,74}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:d27.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{557,182},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:d28.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{639,182},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:d37.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{603,95},{121,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{121,84}}</string>
                <key>sourceSize</key>
                <string>{121,84}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:d38.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,114},{113,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{113,88}}</string>
                <key>sourceSize</key>
                <string>{113,88}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:f1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{215,362},{70,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,11}}</string>
                <key>sourceSize</key>
                <string>{70,11}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:f10.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{456,105},{98,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,104}}</string>
                <key>sourceSize</key>
                <string>{98,104}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:f2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{138,351},{74,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{74,17}}</string>
                <key>sourceSize</key>
                <string>{74,17}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:f3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{889,299},{117,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{117,28}}</string>
                <key>sourceSize</key>
                <string>{117,28}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:f4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{242,323},{98,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,36}}</string>
                <key>sourceSize</key>
                <string>{98,36}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:f5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{300,210},{98,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{98,56}}</string>
                <key>sourceSize</key>
                <string>{98,56}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:f6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{721,209},{83,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{83,72}}</string>
                <key>sourceSize</key>
                <string>{83,72}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:f7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{727,122},{87,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{87,84}}</string>
                <key>sourceSize</key>
                <string>{87,84}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:f8.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{310,116},{100,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{100,91}}</string>
                <key>sourceSize</key>
                <string>{100,91}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:f9.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{853,111},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:long chi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{344,269},{96,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{96,51}}</string>
                <key>sourceSize</key>
                <string>{96,51}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:long chi 1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{245,269},{96,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{96,51}}</string>
                <key>sourceSize</key>
                <string>{96,51}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:long wei.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{779,350},{81,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{81,30}}</string>
                <key>sourceSize</key>
                <string>{81,30}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:longshen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{498,212},{55,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,30}}</string>
                <key>sourceSize</key>
                <string>{55,30}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:longshen2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{245,199},{52,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{52,40}}</string>
                <key>sourceSize</key>
                <string>{52,40}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:longtou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{116,187},{44,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{44,61}}</string>
                <key>sourceSize</key>
                <string>{44,61}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:longtou2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{557,105},{38,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,44}}</string>
                <key>sourceSize</key>
                <string>{38,44}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:t1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{310,0},{143,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{143,113}}</string>
                <key>sourceSize</key>
                <string>{143,113}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:t2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{170,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{170,111}}</string>
                <key>sourceSize</key>
                <string>{170,111}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:t3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{749,0},{101,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{101,119}}</string>
                <key>sourceSize</key>
                <string>{101,119}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:t4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{173,0},{134,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{134,128}}</string>
                <key>sourceSize</key>
                <string>{134,128}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:t5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{456,0},{144,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{144,102}}</string>
                <key>sourceSize</key>
                <string>{144,102}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:t6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{603,0},{143,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{143,92}}</string>
                <key>sourceSize</key>
                <string>{143,92}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:w1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{695,343},{81,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{81,30}}</string>
                <key>sourceSize</key>
                <string>{81,30}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:w2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{343,323},{82,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{82,39}}</string>
                <key>sourceSize</key>
                <string>{82,39}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:w3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{964,94},{51,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{51,72}}</string>
                <key>sourceSize</key>
                <string>{51,72}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:w4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{116,114},{48,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,70}}</string>
                <key>sourceSize</key>
                <string>{48,70}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:w5.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{70,321},{65,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{65,69}}</string>
                <key>sourceSize</key>
                <string>{65,69}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:w6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{889,330},{87,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{87,29}}</string>
                <key>sourceSize</key>
                <string>{87,29}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:xcvxcvxcvxv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{853,0},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:z1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{498,264},{96,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{96,51}}</string>
                <key>sourceSize</key>
                <string>{96,51}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:z11.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{597,264},{96,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{96,51}}</string>
                <key>sourceSize</key>
                <string>{96,51}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:z12.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{696,284},{89,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{89,56}}</string>
                <key>sourceSize</key>
                <string>{89,56}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:z13.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{167,131},{96,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{96,65}}</string>
                <key>sourceSize</key>
                <string>{96,65}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:z14.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{964,0},{47,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{47,91}}</string>
                <key>sourceSize</key>
                <string>{47,91}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:z15.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{807,280},{79,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{79,67}}</string>
                <key>sourceSize</key>
                <string>{79,67}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:z16.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{401,212},{94,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{94,54}}</string>
                <key>sourceSize</key>
                <string>{94,54}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:z2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{531,318},{91,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{91,45}}</string>
                <key>sourceSize</key>
                <string>{91,45}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:z3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{443,318},{85,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{85,53}}</string>
                <key>sourceSize</key>
                <string>{85,53}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:z4.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{625,318},{67,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:z6.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{160,281},{79,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{79,67}}</string>
                <key>sourceSize</key>
                <string>{79,67}</string>
            </dict>
            <key>fairy_fengbaojulong_2016:z7.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{897,242},{94,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{94,54}}</string>
                <key>sourceSize</key>
                <string>{94,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_fengbaojulong_2016.pvr.ccz</string>
            <key>size</key>
            <string>{1019,390}</string>
            <key>textureFileName</key>
            <string>fairy_fengbaojulong_2016.pvr.ccz</string>
        </dict>
    </dict>
</plist>
