<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fairy_fengshen_2024:Fjiao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{227,0},{23,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{23,32}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>fairy_fengshen_2024:Fjing.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{179,129},{8,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,9}}</string>
                <key>sourceSize</key>
                <string>{8,9}</string>
            </dict>
            <key>fairy_fengshen_2024:Ftou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{127,110},{38,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,46}}</string>
                <key>sourceSize</key>
                <string>{38,46}</string>
            </dict>
            <key>fairy_fengshen_2024:Fyao.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{55,127},{10,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,19}}</string>
                <key>sourceSize</key>
                <string>{10,19}</string>
            </dict>
            <key>fairy_fengshen_2024:Fyaodai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{68,127},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>fairy_fengshen_2024:Fyoudat.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{222,104},{24,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,17}}</string>
                <key>sourceSize</key>
                <string>{24,17}</string>
            </dict>
            <key>fairy_fengshen_2024:Fyouhoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{168,129},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,10}}</string>
                <key>sourceSize</key>
                <string>{8,10}</string>
            </dict>
            <key>fairy_fengshen_2024:Fyouqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{226,73},{19,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,28}}</string>
                <key>sourceSize</key>
                <string>{19,28}</string>
            </dict>
            <key>fairy_fengshen_2024:Fyoushou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{211,35},{13,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,23}}</string>
                <key>sourceSize</key>
                <string>{13,23}</string>
            </dict>
            <key>fairy_fengshen_2024:Fyouxiaot.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{24,127},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,20}</string>
            </dict>
            <key>fairy_fengshen_2024:Fzuodatui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{42,127},{10,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{10,23}}</string>
                <key>sourceSize</key>
                <string>{10,23}</string>
            </dict>
            <key>fairy_fengshen_2024:Fzuoqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{227,35},{19,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{19,35}}</string>
                <key>sourceSize</key>
                <string>{19,35}</string>
            </dict>
            <key>fairy_fengshen_2024:Fzuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{102,127},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>fairy_fengshen_2024:Fzuoshouc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{203,86},{16,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,26}}</string>
                <key>sourceSize</key>
                <string>{16,26}</string>
            </dict>
            <key>fairy_fengshen_2024:Fzuoxiaotui.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{211,61},{12,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,22}}</string>
                <key>sourceSize</key>
                <string>{12,22}</string>
            </dict>
            <key>fairy_fengshen_2024:asdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{85,127},{14,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,11}}</string>
                <key>sourceSize</key>
                <string>{14,11}</string>
            </dict>
            <key>fairy_fengshen_2024:asdva.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{214,124},{33,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{33,44}}</string>
                <key>sourceSize</key>
                <string>{33,44}</string>
            </dict>
            <key>fairy_fengshen_2024:bvbs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{127,0},{97,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{97,32}}</string>
                <key>sourceSize</key>
                <string>{97,32}</string>
            </dict>
            <key>fairy_fengshen_2024:casv.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,127},{21,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,16}}</string>
                <key>sourceSize</key>
                <string>{21,16}</string>
            </dict>
            <key>fairy_fengshen_2024:cib.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{127,71},{73,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{73,36}}</string>
                <key>sourceSize</key>
                <string>{73,36}</string>
            </dict>
            <key>fairy_fengshen_2024:cvssd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>fairy_fengshen_2024:fshangshen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{168,110},{24,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{24,16}}</string>
                <key>sourceSize</key>
                <string>{24,16}</string>
            </dict>
            <key>fairy_fengshen_2024:gfdgr.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{195,115},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>fairy_fengshen_2024:vcsd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{85,141},{8,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{8,7}}</string>
                <key>sourceSize</key>
                <string>{8,7}</string>
            </dict>
            <key>fairy_fengshen_2024:vdsdfg.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{127,35},{81,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{81,33}}</string>
                <key>sourceSize</key>
                <string>{81,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>fairy_fengshen_2024.pvr.ccz</string>
            <key>size</key>
            <string>{251,169}</string>
            <key>textureFileName</key>
            <string>fairy_fengshen_2024.pvr.ccz</string>
        </dict>
    </dict>
</plist>
