<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_modaoshi_10027:Btou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{382,32},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
            <key>monster_modaoshi_10027:Byous.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{421,87},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>monster_modaoshi_10027:Bzuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{350,78},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>monster_modaoshi_10027:Fhoubi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{369,78},{9,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,14}}</string>
                <key>sourceSize</key>
                <string>{9,14}</string>
            </dict>
            <key>monster_modaoshi_10027:Fjian1.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{290,88},{55,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{55,21}}</string>
                <key>sourceSize</key>
                <string>{55,21}</string>
            </dict>
            <key>monster_modaoshi_10027:Fjian2.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{421,32},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>monster_modaoshi_10027:Fjian3.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{290,56},{57,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{57,29}}</string>
                <key>sourceSize</key>
                <string>{57,29}</string>
            </dict>
            <key>monster_modaoshi_10027:Fmozhang.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{240,0},{47,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{47,128}}</string>
                <key>sourceSize</key>
                <string>{47,128}</string>
            </dict>
            <key>monster_modaoshi_10027:Fpifeng.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{381,89},{37,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,39}}</string>
                <key>sourceSize</key>
                <string>{37,39}</string>
            </dict>
            <key>monster_modaoshi_10027:Fshangshen.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{421,66},{21,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,18}}</string>
                <key>sourceSize</key>
                <string>{21,18}</string>
            </dict>
            <key>monster_modaoshi_10027:Ftou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{455,0},{38,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{38,52}}</string>
                <key>sourceSize</key>
                <string>{38,52}</string>
            </dict>
            <key>monster_modaoshi_10027:Fyaodai.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{348,99},{18,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{18,13}}</string>
                <key>sourceSize</key>
                <string>{18,13}</string>
            </dict>
            <key>monster_modaoshi_10027:Fyouqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{496,24},{11,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{11,17}}</string>
                <key>sourceSize</key>
                <string>{11,17}</string>
            </dict>
            <key>monster_modaoshi_10027:Fyoushou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{496,44},{12,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{12,15}}</string>
                <key>sourceSize</key>
                <string>{12,15}</string>
            </dict>
            <key>monster_modaoshi_10027:Fzuoqianbi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{496,0},{13,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,21}}</string>
                <key>sourceSize</key>
                <string>{13,21}</string>
            </dict>
            <key>monster_modaoshi_10027:Fzuoshou.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{492,86},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>monster_modaoshi_10027:asdfc.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{237,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{237,237}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
            <key>monster_modaoshi_10027:bdfj.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{438,109},{48,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{48,17}}</string>
                <key>sourceSize</key>
                <string>{48,17}</string>
            </dict>
            <key>monster_modaoshi_10027:bfdnh.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{492,62},{17,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{17,21}}</string>
                <key>sourceSize</key>
                <string>{17,21}</string>
            </dict>
            <key>monster_modaoshi_10027:bgrsd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{421,120},{13,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,8}}</string>
                <key>sourceSize</key>
                <string>{13,8}</string>
            </dict>
            <key>monster_modaoshi_10027:bgwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{382,0},{70,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{70,29}}</string>
                <key>sourceSize</key>
                <string>{70,29}</string>
            </dict>
            <key>monster_modaoshi_10027:cadf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{438,87},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>monster_modaoshi_10027:cvdfe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{421,108},{14,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,9}}</string>
                <key>sourceSize</key>
                <string>{14,9}</string>
            </dict>
            <key>monster_modaoshi_10027:ger.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{358,115},{13,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,8}}</string>
                <key>sourceSize</key>
                <string>{13,8}</string>
            </dict>
            <key>monster_modaoshi_10027:mhwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{492,107},{14,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{14,9}}</string>
                <key>sourceSize</key>
                <string>{14,9}</string>
            </dict>
            <key>monster_modaoshi_10027:opwe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{489,119},{13,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,8}}</string>
                <key>sourceSize</key>
                <string>{13,8}</string>
            </dict>
            <key>monster_modaoshi_10027:qun.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{290,0},{89,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{89,53}}</string>
                <key>sourceSize</key>
                <string>{89,53}</string>
            </dict>
            <key>monster_modaoshi_10027:qunhuashi.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{350,56},{21,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{21,19}}</string>
                <key>sourceSize</key>
                <string>{21,19}</string>
            </dict>
            <key>monster_modaoshi_10027:qwqs.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{290,130},{63,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{63,19}}</string>
                <key>sourceSize</key>
                <string>{63,19}</string>
            </dict>
            <key>monster_modaoshi_10027:vewe.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{342,115},{13,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{13,9}}</string>
                <key>sourceSize</key>
                <string>{13,9}</string>
            </dict>
            <key>monster_modaoshi_10027:vfbf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{290,112},{49,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{49,15}}</string>
                <key>sourceSize</key>
                <string>{49,15}</string>
            </dict>
            <key>monster_modaoshi_10027:vsdf.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{452,55},{37,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true />
                <key>sourceColorRect</key>
                <string>{{0,0},{37,51}}</string>
                <key>sourceSize</key>
                <string>{37,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>monster_modaoshi_10027.pvr.ccz</string>
            <key>size</key>
            <string>{511,231}</string>
            <key>textureFileName</key>
            <string>monster_modaoshi_10027.pvr.ccz</string>
        </dict>
    </dict>
</plist>
